/target/
!.mvn/wrapper/maven-wrapper.jar

# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
### STS ###
.apt_generated
.factorypath
.springBeans
.classpath
.project
.settings/
.sts4-cache/
.attach_pid*
.metadata/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

